html {
  scroll-behavior: smooth;
}
body {
  background-image: linear-gradient(rgb(0, 0, 15), rgb(0, 0, 15));
}
.header {
  background-image: radial-gradient(rgba(0, 0, 10, 0.5), rgba(0, 0, 30, 0.6)), url(../imagenes/fondo/fondodentroiglesia.jpg);
  color: white;
  padding: 2rem 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 5px solid #51d1f6;
  z-index: 1;
}
.logo-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.tituloheader{
  letter-spacing: 10px;
  font-size: 1.3rem;
}
.icono {
  display: none;
}
.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.navigation ul li {
  display: inline-block;
}
.navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 0.5rem 1rem;
  background-color: rgb(0, 0, 30);
  border: 5px solid #51d1f6;
  border-radius: 20px;
  position: relative;
}
.navigation ul li a:hover {
  background-color: #51d1f6;
  color: black;
  font-size: 15px;
}
.main {
  width: 100%;
  height: 90vh;
}
#container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenido {
  width:20%;
  height: 90vh;
  background-image: linear-gradient(to top, rgba(0, 0, 20, 0.54), rgba(0, 0, 40, 0.95)), url(../imagenes/fondo/fondodentroiglesia.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1340px;
  display: flex;
  flex-direction: column;
}
.contenido .titulo {
  color: white;
  text-align: center;
  border-bottom: 3px solid #51d1f6;
  letter-spacing: 4px;
  font-size: 20px;
}
.navigationmusic dt {
  color: salmon;
  font-size: 1.4rem;
  letter-spacing: 2px;
}
.contenido dd {
  color: #51d1f6;
  line-height: 30px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: ease 0.4s;
}
.contenido dd:hover {
  border-block: 2px solid salmon;
}
#todas {
  background-color: salmon;
}
.seccion {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.boxsearch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  margin-top: 1rem;
}
.boxsearch #textsearch{
  width: 60%;
  height: 60%;
  background-color: transparent;
  color: #51d1f6;
  font-size: 20px;
  text-align: center;
  border: 0;
  border-bottom: 2px solid #51d1f6;
}
.boxsearch #btnsearch {
  width: 10%;
  height: 60%;
  font-size: 1rem;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #51d1f6;
  color: white;
  cursor: pointer;
}
.allmusic {
  width: 100%;
  height: 90%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: auto;
  margin-top: 2rem;
}
#seccionTodas {
  display: block;
  background-color: transparent;
}
#seccionMasEscuchadas {
  display: none;
  background-color: transparent;
}
#seccionAlavanzas {
  display: none;
  background-color: transparent;
}
#seccionEucaristia {
  display: none;
  background-color: white;
}
#seccionMelancolicas{
  display: none;
  background-color: salmon;
}
#seccionSearch {
  display: none;
  background-color: orange;
}
#respuesta {
  text-align: center;
  color: white;
  display: none;
}
#norespuesta {
  display: none;
  color: white;
  text-align: center;
}
.boxaudio {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: transparent;
}
.descripcion {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.descripcion img {
  width: 50px;
  height: 50px;
}
.descripcion h2 {
  color: white;
}
.boxaudio audio {
  width: 30%;
  height: 40px;
  background-color: red;
  border-radius: 20px;
}
.boxaudio a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 40px;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #00bb2d;
  border-radius: 10px;
  border: 5px solid transparent;
  transition: ease 0.5s;
  cursor: pointer;
}
.boxaudio a:hover {
  background-color: transparent;
  border-inline: 5px solid #00bb2d;
}
#seccionReproduciendose {
  width: 90%;
  height: 100px;
  background-color: transparent;
  border: 2px solid #51d1f6;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 50px;
  right: 10px;
}
#seccionReproduciendose .img{
width: 50px;
height: 50px;
  background-image: url(../imagenes/jesusorando.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
#seccionReproduciendose .titulo {
  color: white;
  font-size: 1rem;
  letter-spacing: 5px;
}
#seccionReproduciendose .audio {
  width: 40%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
align-items: center;
}
#audioreproduciendose {
  width: 100%;
  background-color: red;
  border-radius: 20px
  ;
}