body {
  background-image: linear-gradient(33deg, rgb(0, 0, 30) 20%, #51d1f6 60%, rgb(0, 0, 30) 20%);
}
#container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenido {
  width:20%;
  height: 95vh;
  background-image: linear-gradient(to top, rgba(0, 0, 20, 0.54), rgba(0, 0, 40, 0.95)), url(../imagenes/fondo/fondodentroiglesia.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1340px;
  display: flex;
  flex-direction: column;
}
.contenido .titulo {
  color: white;
  text-align: center;
  border-bottom: 3px solid #51d1f6;
  letter-spacing: 4px;
  font-size: 20px;
}
.navigationmusic dt {
  color: salmon;
  font-size: 1.4rem;
  letter-spacing: 2px;
}
.contenido dd {
  color: #51d1f6;
  line-height: 30px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: ease 0.4s;
}
.contenido dd:hover {
  border-block: 2px solid salmon;
}
#todas {
  background-color: salmon;
}
.seccion {
  width: 100%;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.boxsearch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  margin-top: 1rem;
}
.boxsearch #textsearch{
  width: 60%;
  height: 60%;
  background-color: transparent;
  color: #51d1f6;
  font-size: 20px;
  text-align: center;
  border: 0;
  border-bottom: 2px solid #51d1f6;
}
.boxsearch #btnsearch {
  width: 10%;
  height: 60%;
  font-size: 1rem;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #51d1f6;
  color: white;
  cursor: pointer;
}
.boxsearch #respuesta {
  color: white;
}

.allmusic {
  width: 100%;
  height: 90%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: auto;
  margin-top: 2rem;
}
#seccionTodas {
  display: block;
  background-color: transparent;
}
#seccionMasEscuchadas {
  display: none;
  background-color: transparent;
}
#seccionAlavanzas {
  display: none;
  background-color: transparent;
}
#seccionEucaristia {
  display: none;
  background-color: white;
}
#seccionMelancolicas{
  display: none;
  background-color: salmon;
}
#seccionSearch {
  display: none;
  background-color: orange;
}
#respuesta {
  text-align: center;
  color: white;
  display: none;
}
#norespuesta {
  display: none;
  color: wh
  ite;
  text-align: center;
}
.boxaudio {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: red;
}
#0001 {
  background-color: blue;
}
.descripcion {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.descripcion img {
  width: 50px;
  height: 50px;
}
.descripcion h2 {
  color: white;
}
.boxaudio audio {
  width: 30%;
  height: 40px;
  background-color: red;
  border-radius: 20px;
}
.boxaudio a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 40px;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #00bb2d;
  border-radius: 10px;
  border: 5px solid transparent;
  transition: ease 0.5s;
  cursor: pointer;
}
.boxaudio a:hover {
  background-color: transparent;
  border-inline: 5px solid #00bb2d;
}
#seccionReproduciendose {
  width: 80%;
  height: 100px;
  background-color: black;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 50px;
  right: 2%;
}
.descripcionreproduciendoseimagen {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}
.descripcionreproduciendosetitulo {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: transparent;
}
.descripcionreproduciendosedescarga{
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.descripcionreproduciendosedescarga a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #00bb2d;
  border-radius: 20px;
  border: 2px solid transparent;
  transition: ease 0.5s;
  cursor: pointer;
}
.descripcionreproduciendosedescarga a:hover {
  background-color: transparent;
  border: 2px solid #00bb2d;
}
#seccionReproduciendose .imagenreproduciendose {
width: 80px;
height: 80px;
border-radius: 20px;
border: 0;
}
#seccionReproduciendose .tituloreproduciendose {
  color: white;
  font-size: 1.3rem;
  letter-spacing: 5px;
  text-align: left;
  margin-inline-start: 5px;
}
#seccionReproduciendose .audio {
  width: 30%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
align-items: center;
}
#audioreproduciendose {
  width: 100%;
  background-color: transparent;
  border-radius: 20px
  ;
}