html {
  scroll-behavior: smooth;
}
body {
  background-image: linear-gradient(rgb(0, 0, 15), rgb(0, 0, 15));
}
.header {
  background-image: radial-gradient(rgba(0, 0, 10, 0.5), rgba(0, 0, 30, 0.6)), url(../imagenes/fondo/fondodentroiglesia.jpg);
  color: white;
  padding: 2rem 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 5px solid #51d1f6;
  z-index: 1;
}
.logo-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.tituloheader{
  letter-spacing: 10px;
  font-size: 1.3rem;
}
.icono {
  display: none;
}
.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.navigation ul li {
  display: inline-block;
}
.navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 0.5rem 1rem;
  background-color: rgb(0, 0, 30);
  border: 5px solid #51d1f6;
  border-radius: 20px;
  position: relative;
}
.navigation ul li a:hover {
  background-color: #51d1f6;
  color: black;
  font-size: 15px;
}
.main {
  width: 100%;
  height: 100vh;
  margin-top: 10rem;
}
.container {
  width: 100%;
  height: 100vh;
}
.container-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.box-image {
  width: 200px;
  height: 300px;
  border-radius: 20px;
  border: 3px solid #51d1f6;
}
.container-oracion {
  width: 300px;
  height: 400px;
  background-color: #FFCB76;
  box-shadow: -10px 0px 20px #51d1f6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  position: relative;
  overflow: auto;
}
.container-oracion .titulo {
  color: white;
  font-size: 2rem;
  text-align: center;
}
#box-imagen1 {
  background-image: url(../imagenes/crusifico.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}