body {
    background-color: #102C54;
}
.header {
position: relative;
}
#titulo {
    text-align: center;
    color: #FFCB76;
}
#titulomisterio {
    text-align: center;
    color: #FFCB76;
}
#misterios {
    display: flex;
    justify-content: center;
    align-items: center;
}
.misterio {
    width: 60px;
    height: 60px   ;
    border-radius: 50px;
    margin: 10px 20px;
}
#misteriogozosocuarto{
    width: 60px;
    height: 60px;
}
#misteriogozosoquinto{
    width: 60px;
    height: 60px;
}
.titulomisterio {
    text-align: center;
    color: white;
    display: block;
}
#contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
}
#descripcionmisterios{
    width: 500px;
    height: 500px;
    border: 5px solid #FFCB76;
}
#versiculo {
    text-align: center;
    color: white;
}
#rosario {
    width: 800px;
    height: 500px;
    background-color: #FFCB76;
}
#titulorosario {
color: white;
text-align: center;
}
#rosariografico{
    background-color: red;    
    border-radius: 50px;
    position: relative;
    height: 350px;
}
.circulorosariografico {
    background-color: #102C54;
    width: 20px;
    height: 20px;
    border-radius: 50px;
}
#circulo1 {
    width: 80px;
    height: 100px;
        position: absolute;
    margin: 320px 50px;
clip-path: polygon(10% 25%, 35% 25%, 35% 0%, 65% 0%, 65% 25%, 90% 25%, 90% 50%, 65% 55%, 81% 100%, 22% 100%,     35% 50%, 10% 50%)
}
#circulo2 {
    position: absolute;
    margin: 290px 75px;
}
#circulo3 {
    position: absolute;
    margin: 250px 75px;
}
#circulo4 {
    position: absolute;
    margin: 240px 97px;
}
#circulo5 {
    position: absolute;
    margin: 250px 120px;
}
#circulo6 {
    position: absolute;
    margin: 285px 130px;
}
#circulo7 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    position: absolute;
    margin: 310px 140px;
}

#circulo8 {
    position: absolute;
    margin: 350px 150px;
}
#circulo9 {
    position: absolute;
    margin: 370px 180px;
}
#circulo10 {
    position: absolute;
    margin: 370px 210px;
}
#circulo11 {
    position: absolute;
    margin: 350px 230px;
}
#circulo12 {
    position: absolute;
    margin: 320px 240px;
}
#circulo13 {
    position: absolute;
    margin: 290px 240px;
}
#circulo14 {
    position: absolute;
    margin: 260px 230px;
}
#circulo15 {
    position: absolute;
    margin: 250px 200px;
}
#circulo16 {
    position: absolute;
    margin: 260px 170px;
}
#circulo17 {
    position: absolute;
    margin: 285px 160px;
}