body {
    background-image: linear-gradient(rgb(0, 0, 15), rgb(0, 0, 15));
}
.container {
width: 100%;
height: 90vh; 
display: flex;
justify-content: center;
justify-content: center;
}
.boxprincipal {
	width: 100%;
	height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.boxtitulo {
width: 100%;
height: 10%;
display: flex;
justify-content: space-between;
align-items: center;
border: 0;
border-block-end: 2px solid #51d1f6;
background-color: rgb(0, 0, 15);
}
.boxtitulo .titulo {
    color: white;
    text-align: center;
}
.navigationheader ul{
    list-style: none;
}
.navigationheader li{
    list-style: none;
}
.navigationheader .h2 {
    color: #FFCB76;

}
.settings {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: -2000px;
    left: 0;
    background-color: rgba(0, 0, 20, 0.85);
    border: 0;
    border-inline-end: 3px solid  #51d1f6;
    z-index: 2;
    transition: ease-in 0.7s;
    overflow: hidden;
}
.closedsettings {
    width: 100%;
    height: 10%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 20);
}
#btncancel {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0;
    background-color: #FFCB76;
    transition: ease-in 1s;
}
#btncancel:hover {
    border-block-end: 5px solid #FFCB76;
}
#sectionsettings {
    width: 90%;
    display: none;
    flex-direction: column;
    border-block-end: 1px solid #51d1f6;
    overflow: auto;
}
.settings h2{
    font-size: 1.5rem;
    color: #51d1f6;
}
.zoomFuente  {
width: 200px;
height: 70px;
display: flex;
justify-content: space-around;
align-items: center;
transition: ease-in-out 1s;
}
.zoom {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-align: center;
    font-size: 3rem;
    color: #51d1f6;
    border: 1px solid #51d1f6;
    background-color: transparent;
    transition: ease-in-out 0.6s;
}
.zoom:hover {
    width: 40px;
    height: 40px;
}
.settingsMusic {
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: transparent;
}
.settingsMusic .music {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
}
.settingsMusic label {
    color: white;
    font-size: 1.1rem;   
    letter-spacing: 5px;
}
.settingsMusic .music input{
    background-color: transparent;
    width: 20px;
    height: 20px;
}
.listMusic {
    width: 100%;
    height: 300px;
    background-color: transparent;
    border-block-end: 2px solid #FFCB76;
    overflow: auto;
    text-align: center;
}
.titleListMusic {
    color: white;
    padding: 10px 60px;
    text-align: left;
    transition: ease-in-out 1s;
    border-radius: 10%;
}
.titleListMusic:hover {
    background-image: linear-gradient(to right, transparent 10%, #51d1f6);
}
#inputSearchMusic {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    letter-spacing: 5px;
    color: #51d1f6;
    background-color: transparent;
    border: 0;
    border-block-end: 1px solid #FFCB76;
    border-radius: 20%;
}
.boxdescripccion {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    overflow: hidden;
}
.boxdescripccion .imagen {
    width: 15%;
    height: 70%;
    border-radius: 20px;
    position: relative;
}
.boxdescripccion .descripccion {
    width: 23%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.1);
    animation: ransition 2s ease-in 1 alternate;
}
@keyframes transition{
    0%{transform: translateY(0px);}
    50%{transform: translateY(-800px);}
    100%{transform: translateY(0px);}
}
.text {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    transition: ease-in 0.5s;
    text-align: center;
}
.text::-webkit-scrollbar{
    background-color: transparent;
}
.boxdescripccion #titulo {
    color: #51d1f6;
    text-align: center;
    font-size: 1.2rem;
}
.boxdescripccion .parrafo {
    color: white;
    text-align: center;
    font-size: 1.2rem;
}
.misterios {
    width: 90%;
    height: 90%;
    display: none;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.misterio {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #51d1f6;
    box-shadow: -3px 3px 40px black;
    color: #51d1f6;
    position: relative;
}
  .misterio::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: #51d1f6;
    animation: push 2s linear 1;
}
  @keyframes push {
      0% , 50%{ transform: translate(0% , 0%)  scale(1) }
    100% { transform: translate(0%, -100%) scale(0);}
  }
.boxaudio {
    width: 190%;
    height: 90%;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.boxaudio .tituloaudio {
    text-align: center;
    color: #51d1f6;
}
.boxaudio .audio {
    width: 40%;
    height: 10%;
}
.controles {
    width: 100%;
    height:15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: ease 1s;
}
.imagensiguiente {
    width: 50px;
    height: 50px;
    background-color: #FFCB76;
    border-radius: 50%;
    transition: ease-in 0.3s;
}